[submodule "external/projectile"]
	path = external/projectile
	url = https://github.com/bbatsov/projectile
[submodule "external/paredit"]
	path = external/paredit
	url = https://github.com/emacsmirror/paredit
[submodule "external/a.el"]
	path = external/a.el
	url = https://github.com/plexus/a.el
[submodule "external/parseedn"]
	path = external/parseedn
	url = https://github.com/clojure-emacs/parseedn
[submodule "external/sesman"]
	path = external/sesman
	url = https://github.com/vspinu/sesman
[submodule "external/queue"]
	path = external/queue
	url = https://github.com/emacsmirror/queue
[submodule "external/parseclj"]
	path = external/parseclj
	url = https://github.com/clojure-emacs/parseclj
[submodule "external/cider"]
	path = lang/clojure/pkgs/cider
	url = https://github.com/clojure-emacs/cider
[submodule "external/spinner.el"]
	path = external/spinner.el
	url = http://github.com/Malabarba/spinner.el
[submodule "external/change-inner.el"]
	path = external/change-inner.el
	url = https://github.com/magnars/change-inner.el
[submodule "external/magit"]
	path = external/magit
	url = https://github.com/magit/magit
[submodule "external/dash.el"]
	path = external/dash.el
	url = https://github.com/magnars/dash.el
[submodule "external/with-editor"]
	path = external/with-editor
	url = https://github.com/magit/with-editor
[submodule "external/transient"]
	path = external/transient
	url = https://github.com/magit/transient
[submodule "external/ledger-mode"]
	path = external/ledger-mode
	url = https://github.com/ledger/ledger-mode
[submodule "external/smex"]
	path = external/smex
	url = https://github.com/nonsequitur/smex
[submodule "external/diminish"]
	path = external/diminish
	url = https://github.com/emacsmirror/diminish
[submodule "external/flycheck"]
	path = external/flycheck
	url = https://github.com/flycheck/flycheck
[submodule "external/plantuml-mode"]
	path = external/plantuml-mode
	url = https://github.com/skuro/plantuml-mode
[submodule "external/org-roam"]
	path = external/org-roam
	url = https://github.com/org-roam/org-roam
[submodule "external/f.el"]
	path = external/f.el
	url = https://github.com/rejeep/f.el
[submodule "external/s.el"]
	path = external/s.el
	url = https://github.com/magnars/s.el
[submodule "external/emacsql"]
	path = external/emacsql
	url = https://github.com/skeeto/emacsql
[submodule "external/emacsql-sqlite3"]
	path = external/emacsql-sqlite3
	url = https://github.com/cireu/emacsql-sqlite3
[submodule "external/org-roam-server"]
	path = external/org-roam-server
	url = https://github.com/org-roam/org-roam-server
[submodule "external/emacs-web-server"]
	path = external/emacs-web-server
	url = https://github.com/skeeto/emacs-web-server
[submodule "external/company-mode"]
	path = completion/pkgs/company-mode
	url = https://github.com/company-mode/company-mode
[submodule "external/company-org-roam"]
	path = external/company-org-roam
	url = https://github.com/org-roam/company-org-roam
[submodule "external/switch-window"]
	path = external/switch-window
	url = https://github.com/dimitri/switch-window
[submodule "external/multiple-cursors.el"]
	path = external/multiple-cursors.el
	url = https://github.com/magnars/multiple-cursors.el
[submodule "external/clojure-mode"]
	path = lang/clojure/pkgs/clojure-mode
	url = https://github.com/clojure-emacs/clojure-mode
[submodule "external/exec-path-from-shell"]
	path = external/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell
[submodule "external/expand-region.el"]
	path = external/expand-region.el
	url = https://github.com/magnars/expand-region.el
[submodule "external/jump-char"]
	path = external/jump-char
	url = https://github.com/lewang/jump-char
[submodule "external/fix-word"]
	path = external/fix-word
	url = https://github.com/mrkkrp/fix-word
[submodule "external/markdown-mode"]
	path = external/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "external/windresize"]
	path = external/windresize
	url = https://github.com/emacsmirror/windresize
[submodule "external/emacs-sql-indent"]
	path = external/emacs-sql-indent
	url = https://github.com/alex-hhh/emacs-sql-indent
[submodule "external/toggle-test"]
	path = external/toggle-test
	url = https://github.com/rags/toggle-test
[submodule "external/ido-completing-read-plus"]
	path = external/ido-completing-read-plus
	url = https://github.com/DarwinAwardWinner/ido-completing-read-plus
[submodule "external/flycheck-clj-kondo"]
	path = lang/clojure/pkgs/flycheck-clj-kondo
	url = https://github.com/borkdude/flycheck-clj-kondo
[submodule "external/clj-refactor.el"]
	path = external/clj-refactor.el
	url = https://github.com/clojure-emacs/clj-refactor.el
[submodule "external/yasnippet"]
	path = external/yasnippet
	url = https://github.com/joaotavora/yasnippet
[submodule "external/company-posframe"]
	path = completion/pkgs/company-posframe
	url = https://github.com/tumashu/company-posframe
[submodule "external/posframe"]
	path = external/posframe
	url = https://github.com/tumashu/posframe
[submodule "external/jump.el"]
	path = external/jump.el
	url = https://github.com/eschulte/jump.el
[submodule "external/hydra"]
	path = external/hydra
	url = https://github.com/abo-abo/hydra
[submodule "external/pkg-info"]
	path = external/pkg-info
	url = https://github.com/emacsorphanage/pkg-info
[submodule "external/epl"]
	path = external/epl
	url = https://github.com/cask/epl
[submodule "external/edit-indirect"]
	path = external/edit-indirect
	url = https://github.com/Fanael/edit-indirect
[submodule "external/emacs-scala-mode"]
	path = lang/scala/pkgs/emacs-scala-mode
	url = https://github.com/hvesalai/emacs-scala-mode
[submodule "external/emacs-sbt-mode"]
	path = lang/scala/pkgs/emacs-sbt-mode
	url = https://github.com/hvesalai/emacs-sbt-mode
[submodule "external/lsp-mode"]
	path = lang/scala/pkgs/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode
[submodule "external/lsp-metals"]
	path = lang/scala/pkgs/lsp-metals
	url = https://github.com/emacs-lsp/lsp-metals
[submodule "external/ht.el"]
	path = external/ht.el
	url = https://github.com/Wilfred/ht.el
[submodule "external/dap-mode"]
	path = lang/scala/pkgs/dap-mode
	url = https://github.com/emacs-lsp/dap-mode
[submodule "external/treemacs"]
	path = lang/scala/pkgs/treemacs
	url = https://github.com/Alexander-Miller/treemacs
[submodule "external/ace-window"]
	path = external/ace-window
	url = https://github.com/abo-abo/ace-window
[submodule "external/avy"]
	path = external/avy
	url = https://github.com/abo-abo/avy
[submodule "external/pfuture"]
	path = external/pfuture
	url = https://github.com/Alexander-Miller/pfuture
[submodule "external/lsp-treemacs"]
	path = lang/scala/pkgs/lsp-treemacs
	url = https://github.com/emacs-lsp/lsp-treemacs
[submodule "external/bui.el"]
	path = external/bui.el
	url = https://github.com/alezost/bui.el
[submodule "external/lsp-ui"]
	path = external/lsp-ui
	url = https://github.com/emacs-lsp/lsp-ui
[submodule "external/swiper"]
	path = external/swiper
	url = https://github.com/abo-abo/swiper
[submodule "external/counsel-projectile"]
	path = external/counsel-projectile
	url = https://github.com/ericdanan/counsel-projectile
[submodule "external/emacs-which-key"]
	path = external/emacs-which-key
	url = https://github.com/justbur/emacs-which-key
[submodule "external/haskell-mode"]
	path = external/haskell-mode
	url = https://github.com/haskell/haskell-mode
[submodule "external/cljr-ivy"]
	path = external/cljr-ivy
	url = https://github.com/wandersoncferreira/cljr-ivy
[submodule "external/docker.el"]
	path = external/docker.el
	url = https://github.com/Silex/docker.el
[submodule "external/tablist"]
	path = external/tablist
	url = https://github.com/politza/tablist
[submodule "external/json-mode"]
	path = external/json-mode
	url = https://github.com/joshwnj/json-mode
[submodule "external/json-snatcher"]
	path = external/json-snatcher
	url = https://github.com/Sterlingg/json-snatcher
[submodule "external/json-reformat"]
	path = external/json-reformat
	url = https://github.com/gongo/json-reformat
[submodule "external/emacs-memoize"]
	path = external/emacs-memoize
	url = https://github.com/skeeto/emacs-memoize
[submodule "external/ivy-posframe"]
	path = external/ivy-posframe
	url = https://github.com/tumashu/ivy-posframe
[submodule "external/flycheck-posframe"]
	path = external/flycheck-posframe
	url = https://github.com/alexmurray/flycheck-posframe
[submodule "external/zoom-frm"]
	path = external/zoom-frm
	url = https://github.com/emacsmirror/zoom-frm
[submodule "external/frame-fns"]
	path = external/frame-fns
	url = https://github.com/emacsmirror/frame-fns
[submodule "external/easy-kill"]
	path = external/easy-kill
	url = https://github.com/leoliu/easy-kill
[submodule "external/hl-todo"]
	path = external/hl-todo
	url = https://github.com/tarsius/hl-todo
[submodule "themes/zenburn-emacs"]
	path = themes/zenburn-emacs
	url = https://github.com/bbatsov/zenburn-emacs
[submodule "external/elpy"]
	path = external/elpy
	url = https://github.com/jorgenschaefer/elpy
[submodule "external/pyvenv"]
	path = external/pyvenv
	url = https://github.com/jorgenschaefer/pyvenv
[submodule "external/Highlight-Indentation-for-Emacs"]
	path = external/Highlight-Indentation-for-Emacs
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs
