*~
*\#*\#
*.\#*
*.elc
elpa*
TAGS
.dir-locals?.el
recentf
transient/
projectile.cache
projectile-bookmarks.eld
ido.last
custom.el
eshell/
smex-items
url/
.cache/
.lsp-session-v1
.org-id-locations
bookmarks