[submodule "external/projectile"]
	path = external/projectile
	url = https://github.com/bbatsov/projectile
[submodule "external/paredit"]
	path = external/paredit
	url = https://github.com/emacsmirror/paredit
[submodule "external/a.el"]
	path = external/a.el
	url = https://github.com/plexus/a.el
[submodule "external/parseedn"]
	path = external/parseedn
	url = https://github.com/clojure-emacs/parseedn
[submodule "external/sesman"]
	path = external/sesman
	url = https://github.com/vspinu/sesman
[submodule "external/queue"]
	path = external/queue
	url = https://github.com/emacsmirror/queue
[submodule "external/parseclj"]
	path = external/parseclj
	url = https://github.com/clojure-emacs/parseclj
[submodule "external/cider"]
	path = external/cider
	url = https://github.com/clojure-emacs/cider
[submodule "external/spinner.el"]
	path = external/spinner.el
	url = http://github.com/Malabarba/spinner.el
[submodule "external/change-inner.el"]
	path = external/change-inner.el
	url = https://github.com/magnars/change-inner.el
[submodule "external/magit"]
	path = external/magit
	url = https://github.com/magit/magit
[submodule "external/dash.el"]
	path = external/dash.el
	url = https://github.com/magnars/dash.el
[submodule "external/with-editor"]
	path = external/with-editor
	url = https://github.com/magit/with-editor
[submodule "external/transient"]
	path = external/transient
	url = https://github.com/magit/transient
[submodule "external/ledger-mode"]
	path = external/ledger-mode
	url = https://github.com/ledger/ledger-mode
[submodule "external/smex"]
	path = external/smex
	url = https://github.com/nonsequitur/smex
[submodule "external/diminish"]
	path = external/diminish
	url = https://github.com/emacsmirror/diminish
[submodule "external/flycheck"]
	path = external/flycheck
	url = https://github.com/flycheck/flycheck
[submodule "external/plantuml-mode"]
	path = external/plantuml-mode
	url = https://github.com/skuro/plantuml-mode
[submodule "external/org-roam"]
	path = external/org-roam
	url = https://github.com/org-roam/org-roam
[submodule "external/f.el"]
	path = external/f.el
	url = https://github.com/rejeep/f.el
[submodule "external/s.el"]
	path = external/s.el
	url = https://github.com/magnars/s.el
[submodule "external/emacsql"]
	path = external/emacsql
	url = https://github.com/skeeto/emacsql
[submodule "external/emacsql-sqlite3"]
	path = external/emacsql-sqlite3
	url = https://github.com/cireu/emacsql-sqlite3
[submodule "external/org-roam-server"]
	path = external/org-roam-server
	url = https://github.com/org-roam/org-roam-server
[submodule "external/emacs-web-server"]
	path = external/emacs-web-server
	url = https://github.com/skeeto/emacs-web-server
[submodule "external/company-mode"]
	path = external/company-mode
	url = https://github.com/company-mode/company-mode
[submodule "external/company-org-roam"]
	path = external/company-org-roam
	url = https://github.com/org-roam/company-org-roam
[submodule "external/switch-window"]
	path = external/switch-window
	url = https://github.com/dimitri/switch-window
[submodule "external/multiple-cursors.el"]
	path = external/multiple-cursors.el
	url = https://github.com/magnars/multiple-cursors.el
[submodule "external/clojure-mode"]
	path = external/clojure-mode
	url = https://github.com/clojure-emacs/clojure-mode
[submodule "external/exec-path-from-shell"]
	path = external/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell
[submodule "external/expand-region.el"]
	path = external/expand-region.el
	url = https://github.com/magnars/expand-region.el
[submodule "external/jump-char"]
	path = external/jump-char
	url = https://github.com/lewang/jump-char
[submodule "external/fix-word"]
	path = external/fix-word
	url = https://github.com/mrkkrp/fix-word
[submodule "external/markdown-mode"]
	path = external/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "external/windresize"]
	path = external/windresize
	url = https://github.com/emacsmirror/windresize
[submodule "external/emacs-sql-indent"]
	path = external/emacs-sql-indent
	url = https://github.com/alex-hhh/emacs-sql-indent
[submodule "external/toggle-test"]
	path = external/toggle-test
	url = https://github.com/rags/toggle-test
