[submodule "external/projectile"]
	path = projects/pkgs/projectile
	url = https://github.com/bbatsov/projectile
[submodule "external/paredit"]
	path = modes/prog/pkgs/paredit
	url = https://github.com/emacsmirror/paredit
[submodule "external/a.el"]
	path = dependencies/pkgs/a.el
	url = https://github.com/plexus/a.el
[submodule "external/parseedn"]
	path = dependencies/pkgs/parseedn
	url = https://github.com/clojure-emacs/parseedn
[submodule "external/sesman"]
	path = dependencies/pkgs/sesman
	url = https://github.com/vspinu/sesman
[submodule "external/queue"]
	path = dependencies/pkgs/queue
	url = https://github.com/emacsmirror/queue
[submodule "external/parseclj"]
	path = dependencies/pkgs/parseclj
	url = https://github.com/clojure-emacs/parseclj
[submodule "external/cider"]
	path = langs/clojure/pkgs/cider
	url = https://github.com/clojure-emacs/cider
[submodule "external/spinner.el"]
	path = dependencies/pkgs/spinner.el
	url = http://github.com/Malabarba/spinner.el
[submodule "external/change-inner.el"]
	path = editor/pkgs/change-inner.el
	url = https://github.com/magnars/change-inner.el
[submodule "external/magit"]
	path = version-control/pkgs/magit
	url = https://github.com/magit/magit
[submodule "external/dash.el"]
	path = dependencies/pkgs/dash.el
	url = https://github.com/magnars/dash.el
[submodule "external/with-editor"]
	path = dependencies/pkgs/with-editor
	url = https://github.com/magit/with-editor
[submodule "external/transient"]
	path = dependencies/pkgs/transient
	url = https://github.com/magit/transient
[submodule "external/ledger-mode"]
	path = apps/ledger/pkgs/ledger-mode
	url = https://github.com/ledger/ledger-mode
[submodule "external/smex"]
	path = completion/pkgs/smex
	url = https://github.com/nonsequitur/smex
[submodule "external/diminish"]
	path = cosmetics/pkgs/diminish
	url = https://github.com/emacsmirror/diminish
[submodule "external/flycheck"]
	path = modes/prog/pkgs/flycheck
	url = https://github.com/flycheck/flycheck
[submodule "external/plantuml-mode"]
	path = org/pkgs/plantuml-mode
	url = https://github.com/skuro/plantuml-mode
[submodule "external/f.el"]
	path = dependencies/pkgs/f.el
	url = https://github.com/rejeep/f.el
[submodule "external/s.el"]
	path = dependencies/pkgs/s.el
	url = https://github.com/magnars/s.el
[submodule "external/emacsql"]
	path = dependencies/pkgs/emacsql
	url = https://github.com/skeeto/emacsql
[submodule "external/emacsql-sqlite3"]
	path = dependencies/pkgs/emacsql-sqlite3
	url = https://github.com/cireu/emacsql-sqlite3
[submodule "external/org-roam-server"]
	path = org/pkgs/org-roam-server
	url = https://github.com/org-roam/org-roam-server
[submodule "external/emacs-web-server"]
	path = dependencies/pkgs/emacs-web-server
	url = https://github.com/skeeto/emacs-web-server
[submodule "external/company-mode"]
	path = completion/pkgs/company-mode
	url = https://github.com/company-mode/company-mode
[submodule "external/company-org-roam"]
	path = org/pkgs/company-org-roam
	url = https://github.com/org-roam/company-org-roam
[submodule "external/switch-window"]
	path = window/pkgs/switch-window
	url = https://github.com/dimitri/switch-window
[submodule "external/multiple-cursors.el"]
	path = editor/pkgs/multiple-cursors.el
	url = https://github.com/magnars/multiple-cursors.el
[submodule "external/clojure-mode"]
	path = langs/clojure/pkgs/clojure-mode
	url = https://github.com/clojure-emacs/clojure-mode
[submodule "external/exec-path-from-shell"]
	path = core/pkgs/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell
[submodule "external/expand-region.el"]
	path = editor/pkgs/expand-region.el
	url = https://github.com/magnars/expand-region.el
[submodule "external/jump-char"]
	path = search/pkgs/jump-char
	url = https://github.com/lewang/jump-char
[submodule "external/fix-word"]
	path = editor/pkgs/fix-word
	url = https://github.com/mrkkrp/fix-word
[submodule "external/markdown-mode"]
	path = modes/markdown/pkgs/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "external/windresize"]
	path = window/pkgs/windresize
	url = https://github.com/emacsmirror/windresize
[submodule "external/emacs-sql-indent"]
	path = langs/sql/pkgs/emacs-sql-indent
	url = https://github.com/alex-hhh/emacs-sql-indent
[submodule "external/toggle-test"]
	path = modes/prog/pkgs/toggle-test
	url = https://github.com/rags/toggle-test
[submodule "external/flycheck-clj-kondo"]
	path = langs/clojure/pkgs/flycheck-clj-kondo
	url = https://github.com/borkdude/flycheck-clj-kondo
[submodule "external/clj-refactor.el"]
	path = external/clj-refactor.el
	url = https://github.com/clojure-emacs/clj-refactor.el
[submodule "external/yasnippet"]
	path = modes/prog/pkgs/yasnippet
	url = https://github.com/joaotavora/yasnippet
[submodule "external/posframe"]
	path = dependencies/pkgs/posframe
	url = https://github.com/tumashu/posframe
[submodule "external/jump.el"]
	path = dependencies/pkgs/jump.el
	url = https://github.com/eschulte/jump.el
[submodule "external/hydra"]
	path = dependencies/pkgs/hydra
	url = https://github.com/abo-abo/hydra
[submodule "external/pkg-info"]
	path = dependencies/pkgs/pkg-info
	url = https://github.com/emacsorphanage/pkg-info
[submodule "external/epl"]
	path = dependencies/pkgs/epl
	url = https://github.com/cask/epl
[submodule "external/edit-indirect"]
	path = dependencies/pkgs/edit-indirect
	url = https://github.com/Fanael/edit-indirect
[submodule "external/emacs-scala-mode"]
	path = langs/scala/pkgs/emacs-scala-mode
	url = https://github.com/hvesalai/emacs-scala-mode
[submodule "external/emacs-sbt-mode"]
	path = langs/scala/pkgs/emacs-sbt-mode
	url = https://github.com/hvesalai/emacs-sbt-mode
[submodule "external/lsp-mode"]
	path = langs/scala/pkgs/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode
[submodule "external/lsp-metals"]
	path = langs/scala/pkgs/lsp-metals
	url = https://github.com/emacs-lsp/lsp-metals
[submodule "external/ht.el"]
	path = dependencies/pkgs/ht.el
	url = https://github.com/Wilfred/ht.el
[submodule "external/dap-mode"]
	path = langs/scala/pkgs/dap-mode
	url = https://github.com/emacs-lsp/dap-mode
[submodule "external/treemacs"]
	path = langs/scala/pkgs/treemacs
	url = https://github.com/Alexander-Miller/treemacs
[submodule "external/ace-window"]
	path = window/pkgs/ace-window
	url = https://github.com/abo-abo/ace-window
[submodule "external/avy"]
	path = search/pkgs/avy
	url = https://github.com/abo-abo/avy
[submodule "external/pfuture"]
	path = dependencies/pkgs/pfuture
	url = https://github.com/Alexander-Miller/pfuture
[submodule "external/lsp-treemacs"]
	path = langs/scala/pkgs/lsp-treemacs
	url = https://github.com/emacs-lsp/lsp-treemacs
[submodule "external/bui.el"]
	path = dependencies/pkgs/bui.el
	url = https://github.com/alezost/bui.el
[submodule "external/lsp-ui"]
	path = dependencies/pkgs/lsp-ui
	url = https://github.com/emacs-lsp/lsp-ui
[submodule "external/swiper"]
	path = completion/pkgs/swiper
	url = https://github.com/abo-abo/swiper
[submodule "external/emacs-which-key"]
	path = core/pkgs/emacs-which-key
	url = https://github.com/justbur/emacs-which-key
[submodule "external/haskell-mode"]
	path = langs/haskell/pkgs/haskell-mode
	url = https://github.com/haskell/haskell-mode
[submodule "external/cljr-ivy"]
	path = external/cljr-ivy
	url = https://github.com/wandersoncferreira/cljr-ivy
[submodule "external/docker.el"]
	path = apps/docker/pkgs/docker.el
	url = https://github.com/Silex/docker.el
[submodule "external/tablist"]
	path = dependencies/pkgs/tablist
	url = https://github.com/politza/tablist
[submodule "external/json-mode"]
	path = modes/json/pkgs/json-mode
	url = https://github.com/joshwnj/json-mode
[submodule "external/json-snatcher"]
	path = dependencies/pkgs/json-snatcher
	url = https://github.com/Sterlingg/json-snatcher
[submodule "external/json-reformat"]
	path = dependencies/pkgs/json-reformat
	url = https://github.com/gongo/json-reformat
[submodule "external/emacs-memoize"]
	path = dependencies/pkgs/emacs-memoize
	url = https://github.com/skeeto/emacs-memoize
[submodule "external/zoom-frm"]
	path = window/pkgs/zoom-frm
	url = https://github.com/emacsmirror/zoom-frm
[submodule "external/frame-fns"]
	path = dependencies/pkgs/frame-fns
	url = https://github.com/emacsmirror/frame-fns
[submodule "external/easy-kill"]
	path = editor/pkgs/easy-kill
	url = https://github.com/leoliu/easy-kill
[submodule "external/hl-todo"]
	path = modes/prog/pkgs/hl-todo
	url = https://github.com/tarsius/hl-todo
[submodule "themes/zenburn-emacs"]
	path = cosmetics/themes/zenburn-emacs
	url = https://github.com/bbatsov/zenburn-emacs
[submodule "external/elpy"]
	path = langs/python/pkgs/elpy
	url = https://github.com/jorgenschaefer/elpy
[submodule "external/pyvenv"]
	path = langs/python/pkgs/pyvenv
	url = https://github.com/jorgenschaefer/pyvenv
[submodule "external/Highlight-Indentation-for-Emacs"]
	path = langs/python/pkgs/Highlight-Indentation-for-Emacs
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs
[submodule "apps/telega/pkgs/telega.el"]
	path = apps/telega/pkgs/telega.el
	url = https://github.com/zevlg/telega.el
[submodule "dependencies/pkgs/rainbow-identifiers"]
	path = dependencies/pkgs/rainbow-identifiers
	url = https://github.com/Fanael/rainbow-identifiers
[submodule "dependencies/pkgs/visual-fill-column"]
	path = dependencies/pkgs/visual-fill-column
	url = https://github.com/joostkremers/visual-fill-column
[submodule "dependencies/pkgs/emacs-emojify"]
	path = dependencies/pkgs/emacs-emojify
	url = https://github.com/iqbalansari/emacs-emojify
[submodule "apps/telega/pkgs/telega"]
	path = apps/telega/pkgs/telega.el
	url = https://github.com/zevlg/telega.el
[submodule "apps/circle/pkgs/circe"]
	path = apps/circle/pkgs/circe
	url = https://github.com/jorgenschaefer/circe
[submodule "apps/circe/pkgs/circe"]
	path = apps/circe/pkgs/circe
	url = https://github.com/jorgenschaefer/circe
[submodule "version-control/pkgs/gist.el"]
	path = version-control/pkgs/gist.el
	url = https://github.com/defunkt/gist.el
[submodule "dependencies/pkgs/gh.el"]
	path = dependencies/pkgs/gh.el
	url = https://github.com/sigma/gh.el
[submodule "dependencies/pkgs/marshal.el"]
	path = dependencies/pkgs/marshal.el
	url = https://github.com/sigma/marshal.el
[submodule "dependencies/pkgs/pcache"]
	path = dependencies/pkgs/pcache
	url = https://github.com/sigma/pcache
[submodule "dependencies/pkgs/logito"]
	path = dependencies/pkgs/logito
	url = https://github.com/sigma/logito
[submodule "apps/webpaste/pkgs/webpaste.el"]
	path = apps/webpaste/pkgs/webpaste.el
	url = https://github.com/etu/webpaste.el
[submodule "dependencies/pkgs/emacs-request"]
	path = dependencies/pkgs/emacs-request
	url = https://github.com/tkf/emacs-request
[submodule "editor/pkgs/highlight-symbol.el"]
	path = editor/pkgs/highlight-symbol.el
	url = https://github.com/nschum/highlight-symbol.el
[submodule "themes/noctilux-theme"]
	path = cosmetics/themes/noctilux-theme
	url = https://github.com/sjrmanning/noctilux-theme
[submodule "cosmetics/themes/monokai-emacs"]
	path = cosmetics/themes/monokai-emacs
	url = https://github.com/oneKelvinSmith/monokai-emacs
[submodule "cosmetics/themes/alabaster-theme"]
	path = cosmetics/themes/alabaster-theme
	url = https://github.com/wandersoncferreira/alabaster-theme
[submodule "modes/prog/pkgs/yasnippet-snippets"]
	path = modes/prog/pkgs/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets
[submodule "langs/python/pkgs/py-isort.el"]
	path = langs/python/pkgs/py-isort.el
	url = https://github.com/paetzke/py-isort.el
[submodule "langs/common-lisp/pkgs/slime"]
	path = langs/common-lisp/pkgs/slime
	url = https://github.com/slime/slime
[submodule "editor/pkgs/goto-chg"]
	path = editor/pkgs/goto-chg
	url = https://github.com/emacs-evil/goto-chg
[submodule "org/pkgs/org-roam"]
	path = org/pkgs/org-roam
	url = https://github.com/org-roam/org-roam
[submodule "version-control/git-modes"]
	path = version-control/pkgs/git-modes
	url = https://github.com/magit/git-modes
[submodule "version-control/pkgs/git-timemachine"]
	path = version-control/pkgs/git-timemachine
	url = https://github.com/emacsmirror/git-timemachine
[submodule "langs/clojure/pkgs/clj-decompiler.el"]
	path = langs/clojure/pkgs/clj-decompiler.el
	url = https://github.com/bsless/clj-decompiler.el
[submodule "modes/prog/pkgs/quickrun"]
	path = modes/prog/pkgs/quickrun
	url = https://github.com/emacsorphanage/quickrun
[submodule "apps/ledger/pkgs/flycheck-ledger"]
	path = apps/ledger/pkgs/flycheck-ledger
	url = https://github.com/purcell/flycheck-ledger
[submodule "langs/golang/pkgs/go-mode.el"]
	path = langs/golang/pkgs/go-mode.el
	url = https://github.com/dominikh/go-mode.el
[submodule "modes/prog/pkgs/column-enforce-mode"]
	path = modes/prog/pkgs/column-enforce-mode
	url = https://github.com/jordonbiondo/column-enforce-mode
[submodule "langs/python/pkgs/emacs-ipython-notebook"]
	path = langs/python/pkgs/emacs-ipython-notebook
	url = https://github.com/millejoh/emacs-ipython-notebook
[submodule "dependencies/pkgs/emacs-deferred"]
	path = dependencies/pkgs/emacs-deferred
	url = https://github.com/kiwanami/emacs-deferred
[submodule "dependencies/pkgs/anaphora"]
	path = dependencies/pkgs/anaphora
	url = https://github.com/rolandwalker/anaphora
[submodule "dependencies/pkgs/emacs-websocket"]
	path = dependencies/pkgs/emacs-websocket
	url = https://github.com/ahyatt/emacs-websocket
[submodule "dependencies/pkgs/polymode"]
	path = dependencies/pkgs/polymode
	url = https://github.com/polymode/polymode
[submodule "apps/oblique-strategies/pkgs/oblique-strategies"]
	path = apps/oblique-strategies/pkgs/oblique-strategies
	url = https://github.com/wandersoncferreira/oblique-strategies
[submodule "modes/prog/pkgs/package-lint"]
	path = modes/prog/pkgs/package-lint
	url = https://github.com/purcell/package-lint
[submodule "org/pkgs/ox-hugo"]
	path = org/pkgs/ox-hugo
	url = https://github.com/kaushalmodi/ox-hugo
[submodule "org/pkgs/org-ref"]
	path = org/pkgs/org-ref
	url = https://github.com/jkitchin/org-ref
[submodule "dependencies/pkgs/emacs-htmlize"]
	path = dependencies/pkgs/emacs-htmlize
	url = https://github.com/hniksic/emacs-htmlize
[submodule "parsebib"]
	path = dependencies/pkgs/parsebib
	url = https://github.com/joostkremers/parsebib
[submodule "apps/elfeed/pkgs/elfeed"]
	path = apps/elfeed/pkgs/elfeed
	url = https://github.com/skeeto/elfeed
[submodule "apps/elfeed/pkgs/elfeed-org"]
	path = apps/elfeed/pkgs/elfeed-org
	url = https://github.com/remyhonig/elfeed-org
[submodule "apps/emms/pkgs/bongo"]
	path = apps/bongo/pkgs/bongo
	url = https://github.com/dbrock/bongo
[submodule "org/pkgs/org-download"]
	path = org/pkgs/org-download
	url = https://github.com/abo-abo/org-download
[submodule "dependencies/pkgs/--name"]
	path = dependencies/pkgs/--name
	url = https://github.com/jwiegley/emacs-async
[submodule "async"]
	path = dependencies/pkgs/emacs-async
	url = https://github.com/jwiegley/emacs-async
[submodule "core/pkgs/scratch-el"]
	path = core/pkgs/scratch-el
	url = https://github.com/ieure/scratch-el
[submodule "core/pkgs/system-packages"]
	path = core/pkgs/system-packages
	url = https://gitlab.com/jabranham/system-packages.git
[submodule "apps/zeal/pkgs/zeal-at-point"]
	path = apps/zeal/pkgs/zeal-at-point
	url = https://github.com/jinzhu/zeal-at-point
[submodule "langs/clojure/pkgs/elein"]
	path = langs/clojure/pkgs/elein
	url = git@github.com:remvee/elein.git
[submodule "apps/eping/pkgs/eping"]
	path = apps/eping/pkgs/eping
	url = https://github.com/sean-hut/eping
